<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #3ab573"
>
  <a
    class="navbar-brand h1 nav-link active"
    routerLink="/home"
    routerLinkActive="active"
    >Great Outdoors</a
  >
  <button
    (click)="isCollapsed = !isCollapsed"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [class.collapse]="isCollapsed"
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Utah
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a
              class="dropdown-item"
              routerLink="/ogden"
              routerLinkActive="active"
              >Ogden River</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="/blacksmithsforkleft"
              routerLinkActive="active"
              >Left Fork of the Blacksmiths Fork</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="/blacksmithsfork"
              routerLinkActive="active"
              >Blacksmiths Fork River</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="/triallake"
              routerLinkActive="active"
              >Trial Lake</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="/millcreek"
              routerLinkActive="active"
              >Millcreek Canyon</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          North Carolina
        </a>
        <ul
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdown"
        >
          <li>
            <a
              class="dropdown-item"
              routerLink="/firescreek"
              routerLinkActive="active"
              >Fires Creek</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Georgia
        </a>
        <ul
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdown"
        >
          <li>
            <a
              class="dropdown-item"
              routerLink="/noontootla"
              routerLinkActive="active"
              >Noontootla River</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="/nimblewill"
              routerLinkActive="active"
              >Nimblewill Creek</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="/bigcottonindian"
              routerLinkActive="active"
              >Big Cotton Indian Creek</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
