<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Nimblewill_Creek_Trout_Six.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Nimblewill_Creek_Trout_Two.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
  </div>
  <div class="row">
    <div class="col text-center">Beautiful Little Creek</div>
    <div class="col text-center">Little Rainbow took the Copper John nymph</div>
  </div>
</div>
