<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Nimblewill_Creek_Trout_Six.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">Beautiful Little Creek</div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Nimblewill_Creek_Trout_Two.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">
        Little Rainbow took the Copper John nymph. This trout holds a special
        place in my heart. It was the first ever trout I caught and the first
        one I ever caught on the fly rod.
      </div>
    </div>
  </div>
</div>
