<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Noontootla_Trout_One.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        Trout in this stream had large spots. They mainly took the Parachute
        Adams pattern.
      </div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Noontootla_Trout_Two.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        This was the river my wife caught her fish fish on the fly rod
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Noontootla_Trout_Four.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">
        My most successful river in Georgia
      </div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Noontootla_Trout_Three.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">
        My wife holding another rainbow trout. This one had lighter colors.
      </div>
    </div>
  </div>
</div>
