<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      Hi! Welcome to my Fly Fishing Blog! I plan to share my fly fishing
      excursions with you and maybe I can help you land some fish!
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Nimblewill_Creek_Trout_One.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col text-center">
      <img
        src="./assets/images/Nimblewill_Creek_Trout_Five.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
  </div>
</div>
