<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Ogden_River_Trout_Two.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        I caught my personal Best Trout on this river. This brown trout was
        probably at least 18 inches.
      </div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Ogden_River_Trout_One.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">The Ogden is a beautiful river</div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Ogden_River_Trout_Three.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">The gorgeous Ogden River</div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Ogden_River_Trout_Four.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">A nice little rainbow trout</div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="card p-3" *ngFor="let comment of finalComments">
          <div class="d-flex justify-content-between align-items-center">
            <div class="align-items-center">
              <div class="mt-4 mb-4 font-weight-bold text-primary">
                {{ comment.username }}
              </div>
              <div class="mt-4 mb-4">
                {{ comment.comments }}
              </div>
              <div class="mt-4 mb-4">
                {{ comment.convertedDateBlah }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
