<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Ogden_River_Trout_Two.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        I caught my personal Best Trout on this river. This brown trout was
        probably at least 18 inches.
      </div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Ogden_River_Trout_One.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">The Ogden is a beautiful river</div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Ogden_River_Trout_Three.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">The gorgeous Ogden River</div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Ogden_River_Trout_Four.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">A nice little rainbow trout</div>
    </div>
  </div>
</div>
