<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Blacksmiths_Fork_Left_Five.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Blacksmiths_Fork_Left_Three.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      The Left Fork of the Blacksmiths Fork was a gorgeous small stream. I
      caught 2 fish on it but had several more bites.
    </div>
    <div class="col text-center">
      From what I can tell this is my first cutthroat trout. I think it is
      either a Westslope or Bonneville
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Blacksmiths_Fork_Left_Four.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Blacksmiths_Fork_Left_One.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col text-center">
      The trout here like to hide under the brush on the banks. It makes tangles
      more likely if you keep your flies close to the banks and brush but if you
      want to catch fish sometimes you have to take risks.
    </div>
    <div class="col text-center">
      Gorgeous mountains surrounding this stream.
    </div>
  </div>
</div>
