<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Big_CottonIndian_Trout_Three.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Big_CottonIndian_Trout_Two.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      Sometimes trout get too picky and it is just nice to throw some flies to
      bluegill
    </div>
    <div class="col text-center">Nice little river in a more urban setting</div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Big_CottonIndian_Trout_One.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Big_CottonIndian_Trout_Four.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col text-center">
      Another shot of the river. Bluegill will jump at almost any bait so it is
      always fun to find a place full of them
    </div>
    <div class="col text-center">
      This one doesn't quite have as pretty colors but it still put up a good
      fight
    </div>
  </div>
</div>
