<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Fires_Creek_Trout_Three.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Fires_Creek_Trout_Two.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      Fires Creek was one of the most scenic rivers I have ever been to. It is a
      great place to escape the summer heat of many of the large cities at lower
      elevations.
    </div>
    <div class="col text-center">My first brook trout</div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Fires_Creek_Trout_One.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Fires_Creek_Trout_Four.jpg"
        alt="trout"
        width="345"
        height="460"
      />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col text-center">
      Some gorgeous deep holes with trout if you are willing to work for it
    </div>
    <div class="col text-center">
      Another great run in the cool mountains of North Carolina.
    </div>
  </div>
</div>
