<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Trial_Lake_Trout_One.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">Trial Lake is full of Tiger Trout</div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Trial_Lake_Trout_Two.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        Gorgeous scenery in the High Uintas
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Trial_Lake_Trout_Three.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">
        I caught 5 fish on this purple chubby chernobyl
      </div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Trial_Lake_Trout_Four.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">Good colors on this rainbow</div>
    </div>
  </div>
</div>
