<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Millcreek_Canyon_One.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        Millcreek Canyon has a beautiful river carving through it. But this was
        by far the hardest river I have ever fished.
      </div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Millcreek_Canyon_Two.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        This was very technical fishing. Only had room for bow and arrow
        casting. I was hoping to catch a Westslope Cutthroat trout.
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Millcreek_Canyon_Three.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">
        I only interacted with 2 fish all day. I casted to one I could see for
        around 45 minutes but I never caught it.
      </div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Millcreek_Canyon_Four.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">
        The other trout I interacted with at a different location did take my
        fly but I lost him and he never took another fly I sent his way.
      </div>
    </div>
  </div>
</div>
