<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Blacksmiths_Three.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        The Blacksmiths Fork is a great river. Very remote and filled with many
        trout. The scenery is great and both times I have been in the area I
        have not seen a single fisherman. Typically the nymphs do well here. The
        pattern I have been most successful with seems similar to a "Hare's
        Ear".
      </div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Blacksmiths_Five.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        I caught my second largest trout here. A big brown that I would guess
        was around 12-14 inches.
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Blacksmiths_Two.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        Gorgeous Rainbow trout about standard size for a stream like this.
        Probably 10 inches.
      </div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Blacksmiths_One.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3">
        Great runs to drift your flies in. Just had to be careful because in
        July the Wasps were all along the banks.
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img
        src="./assets/images/Blacksmiths_Four.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">
        Pulled the mid-sized Ranbow Trout out of this hole. Good deep holes at
        the end of a run/waterfall seem to produce often for me
      </div>
    </div>
    <div class="col text-center">
      <img
        src="./assets/images/Blacksmiths_Six.jpg"
        alt="trout"
        width="345"
        height="460"
      />
      <div class="col text-center mt-3 mb-3">Small little Rainbow.</div>
    </div>
  </div>
</div>
